body{
    padding-top:120px;
}
ul{
    list-style-type: none;
}
.header{
    height:100px;
    z-index:10;
}
.btn-black{
    border:none;
    color:white;
    background-color: black;  
}
.btn-black a{
    text-decoration: none;
    color:white;
}
.btn-jumbo{
    color:white;
    background-color: orangered;
    border:none;
}
.btn-orange a{
    text-decoration: none;
    color:white;
    background-color: orangered;
    
}
.logo{
    width:100px;   
}
.logo-img{
   height:100%;
   
}
.jumbotron{
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    min-height:500px;

}
#first-jumbo{
    background-image:url("../img/jumbo-bg.png");
    padding-top:250px;
}
#second-jumbo{
    background-image:url("../img/it-takes-two-hero-banner-desktop.jpg");
   
}
.link-playgame a{
    text-decoration: none;
    color:white;
}
.figure-psnow{border-bottom:none;}

.border-red{
    border:5px solid red;
}
.ret-img{width:100%;
height:100%;
}
.play-no-limit{
    text-decoration: none;
   font-size: 15px;
}
.paragraph-play5{
  width:80%;
}
.subtitle-image-component{
    text-align: center;
}
.text-second-jumbo{
    font-size: 25px;
}
.title-new-release , .release-card{
    background-color: rgb(29, 29, 29);
}
.bg-gray{
    background-color: gray;
}
.bg-blue{
    background-color: blue;
}
.paragrafo-psnow{
    font-size: 30px;
}
.footer-link a{
    text-decoration: none;
    color:white;
}
/* utilities */
img{
width:100%;
height:100%;
}
.w-30{
width:30%;
}