body{
    padding-top:120px;
}
ul{
    list-style-type: none;
}
.header{
    height:100px;
    z-index:10;
}
.play-no-limit{
    text-decoration: none;
   font-size: 15px;
}
.paragraph-play5{
  width:80%;
}
.subtitle-image-component{
    text-align: center;
}
.title-new-release{
    margin-top: -5px;
}
.title-new-release , .release-card{
    background-color: rgb(29, 29, 29);
}
.paragrafo-psnow{
    font-size: 30px;
}
/* button and color */
.bg-gray{
    background-color: gray;
}
.bg-blue{
    background-color: blue;
}
.button-orange{
    text-decoration: none;
    color:white;
    background-color: orangered;
}
/* jumbotron */
.jumbotron{
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    min-height:500px;

}
#first-jumbo{
    background-image:url("../img/jumbo-bg.png");
    padding-top:250px;
}
#second-jumbo{
    background-image:url("../img/it-takes-two-hero-banner-desktop.jpg");
   
}
.text-second-jumbo{
    font-size: 25px;
}
/* a link */
.footer-link a{
    text-decoration: none;
    color:white;
}
.link-playgame a{
    text-decoration: none;
    color:white;
}
/* images*/
.logo-img{
    height:100%;
    max-width:100px;   
 }
img{
width:100%;
height:100%;
}

.ret-img{width:100%;
    height:100%;
    }
    .figure-psnow{border-bottom:none;}
/* utilities width/spacing */
.width-30{
width:30%;
}
.width-40{
    width:40%;
}
.width-10{
    width:5%;
}
.right-small-menu a{
    text-decoration: none;
    color:rgb(108,117,125);
}
.logo-img{
   height:100%;
}